<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="!auth.auth">
    <ion-row>
      <!-- If not logged in... -->
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Email</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Log user in -->
      <ion-button (click)="login(user)" color="primary">Log in</ion-button>

      <!-- Redirect to register page -->
      <ion-button (click)="register()" color="light">Register</ion-button>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="auth.auth">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Username</ion-label>
          <ion-input type="text" [(ngModel)]="profile.username"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col>
        <img src="/assets/images/sprites/trainers/{{ profile.trainer | lowercase }}.png" class="trainer-sprite">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6 class="ion-text-center">
          <input type="hidden" [(ngModel)]="profileData.title">{{ profile.title }}
          <input type="hidden" [(ngModel)]="profileData.trainer">{{ profile.trainer | titlecase }}
        </h6>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col>
        <ion-button (click)="showMultiColumnPicker()">Choose Trainer</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col>
        <ion-button color="light" (click)="createProfile()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="enablePush()" color="primary">Enable Notifications</ion-button>

</ion-content>
