<app-menu></app-menu>
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dex">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label class="fl-font">Dex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label class="fl-font">Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="fl-font">Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
