@font-face {
  font-family: "Power Red and Blue";
  src: url("~assets/fonts/pkmnrs.ttf");
}

/**
  *  Generally, for this font, 24px size is nice for titles such as
  *  ion-headers or h2's
  */
@font-face {
  font-family: "Power Red and Green";
  src: url("~assets/fonts/pkmnfl.ttf");
}